<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="UTF-8" />
  <title>じゃんけんゲーム</title>

  <meta name="author" content="Yura" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />

</head>

<body>
  <h1>Janken GAME!</h1>

  <div><a href="/logout">ログアウト</a></div>
  <p th:if="${userName}"> Hi [[${userName}]] </p>

  <p>[[${userName}]] vs [[${opponentName}]]</p>

  <a th:href="@{/fight/Gu(id=${opponentId})}">ぐー</a> <a th:href="@{/fight/Choki(id=${opponentId})}">ちょき</a> <a
    th:href="@{/fight/Pa(id=${opponentId})}">ぱー</a>

  <div th:if="${userHand}">あなたの手 [[${userHand}]]</div>
  <div th:if="${opponentHand}">相手の手 [[${opponentHand}]]</div>
  <div th:if="${jankenResult}">結果 [[${jankenResult}]]</div>

  <p><a href="/janken">もどる</a></p>
</body>

</html>
