<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="UTF-8" />
  <title>じゃんけんゲーム</title>

  <meta name="author" content="Yura" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />

  <script type="text/javascript">
    window.onload = function () {
      const sse = new EventSource("/fight/waiting");
      sse.onmessage = function (event) {
        console.log("Received result!");
        document.getElementById("result").innerHTML = event.data;
      }
    }
  </script>
</head>

<body>
  <h1>Janken GAME!</h1>

  <div><a href="/logout">ログアウト</a></div>
  <p th:if="${userName}"> Hi [[${userName}]] </p>

  <p>[[${userName}]] vs [[${opponentName}]]</p>

  <div id="result">
    <h2>相手の手を待ってます</h2>
    <div th:if="${userHand}">あなたの手 [[${userHand}]]</div>
  </div>
</body>

</html>
